body {
    font-family: sans-serif;
    background-image: url(https://s3-alpha-sig.figma.com/img/2393/fc40/96735d1b2b7cb5551cc3faceee074127?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IazeTjvBopGUE3HVYUOSIQIcE4BRkEJOhW1358B7CXtfl~BPHcFNvqfgLMv0ilbXWcLMPme2i1NNJwQ5Xehl4lmTpZ0CSGsPDWcp6d7ILdtyohrCkiKWzGIxPFgzt-xS-nyyt4YvTbL8Z0w0Qkl-VIfB6qdYNFytYkEfhX2FhTHZtFD1pe54YLMP66lh-~Bb4LQa-DUPRACE9sTQeKNgKP1GJFj4iBW5uCsUDDFJ6dXlr~FPOvOeMqpan86~LmrddVloSLrVLpev2ewt6XB-1SJLntZhkoR-I0Fp6HL8HAP0lSfawuhoI0QpIx8cwUTaZ8QFF7jhz6TvB0iTvk33gw__);
    background-size: 100%;
    background-repeat: no-repeat
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgba(0,0,0,0.55);
    box-shadow: 2px -1px 48px 41px rgba(0,0,0,0.55);
}

nav {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

.nav-partition {
    border-left: 2px solid #747474e5;
    padding: 10px;
}

svg {
    margin: 10px;
}

.right-li-retreat {
    margin: 3px;
}

.contant {
    background-color: white;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.text-before {
    color: #434343;
}

.text-green {
    color: #3CB878;
}

.flex-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.text-before::before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: relative;
    left: -50px;
    bottom: -22px;
}

button {
    border: none;
    border-radius: 4px;
}

.flex-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-top {
    display: flex;
    align-items: center;
}

.Facebook-left {
    background-color: #305DB8;
    color: white;
    margin-right: 2px;
    height: 48px;
    width: 160px;
}

.Facebook {
    padding-left: 20px;
    border-left: 1px solid #0a162f41;
}

.Google-right {
    background-color: #DF4A32;
    color: white;
    margin-left: 2px;
    height: 48px;
    width: 160px;
}

.Google {
    padding-left: 20px;
    border-left: 1px solid #2b0d0941;
}

.or-line {
    text-align: center;
    margin-top: 34px;
    color: #848484;
}

.or-line::after {
    display: block;
    content: '';
    background-color: #F2F2F2;
    width: 152px;
    height: 1px;
    position: relative;
    top: -9px;
}

.or-line::before {
    display: block;
    content: '';
    background-color: #F2F2F2;
    width: 152px;
    height: 1px;
    position: relative;
    top: 11px;
    left: 56%;
}

input {
    width: 322px;
    height: 44.08px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-left: 10px;
    outline: none;
    padding-left: 20px;
    margin: 10px;
}

.input:focus {
    box-shadow: 0px 9px 4px 1px rgba(0,0,0,0.58);
}

.flex {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.styles-bottom-button {
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background-color: #3CB878CC;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.hover-green:hover {
    color: #004a20;
    transition: 0.3s;
}

.hover-grey:hover {
    color: gray;
    transition: 0.3s;
}

.Facebook-left:hover {
    background-color: #022263;
    transition: 0.3s;
}

.Google-right:hover {
    background-color: #AB1F09;
    transition: 0.3s;
}

.hover-after:hover {
    border-bottom: 2px solid green;
    transition: 0.3s;
}

.styles-bottom-button:hover {
    background-color: #01813F;
    transition: 0.3s;
}

.svg-hover:hover svg path {
    fill: #01813F;
    transition: 0.3s;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin: 0;
    margin-right: 4px;
}